
<div class="header" fxLayout="column" fxLayoutAlign="start none">
  <mat-tab-group>
    <mat-tab label="角色组"></mat-tab>
  </mat-tab-group>
</div>

<div class=contanier fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayoutAlign="start start" fxLayoutGap="50px">
<div class="role-left">
  <div fxLayout="column" fxLayoutAlign="start none">
    <mat-form-field class="filter" color="primary" appearance="outline">
      <mat-label class="input-label">角色组筛选</mat-label>
      <input matInput placeholder="角色组筛选" />
      <mat-icon matSuffix (click)="searchRoleGroup()">search</mat-icon>
    </mat-form-field>
  </div>
  <mat-list fxLayout="column" fxLayoutAlign="start none">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="name">全部角色</div>
      <button
        mat-icon-button
        (click)="addRoleGroup(undefined, $event)"
        [disableRipple]="true"
      >
        <mat-icon class="s-30 role-group-add">add </mat-icon>
      </button>
    </div>
  </mat-list>
</div>
<div class="select" >
  <div fxLayout="row" fxLayoutAlign="start none">
    <mat-form-field class="rolename" color="primary" appearance="outline">
      <mat-label class="input-label">角色名</mat-label>
      <input matInput placeholder="角色名" />
      <mat-select>
        <mat-option *ngFor="let role of roles" [value]="role.value">
          {{ role.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="select" >
        <div fxLayout="row" fxLayoutAlign="start none">
          <mat-form-field class="rolename" color="primary" appearance="outline">
            <mat-label class="input-label">创建人</mat-label>
            <input matInput placeholder="创建人" />
            <mat-select>
              <mat-option *ngFor="let role of roles" [value]="role.value">
                {{ role.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class=button fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayoutAlign="start start"
      fxLayoutGap="30px">
   <button mat-raised-button color="primary" class="search">search</button> 
   <button mat-raised-button color="accent" class="delete">delete</button>  
   </div>
   <div fxLayout="row" fxLayoutAlign="start none">
   <div  fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayoutAlign="start start" fxLayoutGap="50px">
        <mat-form-field appearance="outline">
                <input matInput [matDatepicker]="picker"  placeholder="创建开始时间">
                <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="outline">
                    <input matInput [matDatepicker]="picker"  placeholder="创建结束时间">
                    <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
   </div>
</div>
</div>


