<div class="body" fxLayout="row wrap" fxLayoutAlign="center none">
  <div class="header" *ngFor="let question of questions; let i =index">
    <mat-slide-toggle>{{question.value}}</mat-slide-toggle>
  </div>
  <form [formGroup]="form" class="conent" fxLayout="column" fxLayoutAlign="start none" >

    <div class="main" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-form-field>
        <input matInput [matDatepicker]="picker1" formControlName="datepick1" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

    </div>
  <div class="main">
    <mat-form-field>
      <input matInput [matDatepicker]="picker2" formControlName="datepick2" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

  </div>
    </form>
</div>
